@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

.title_text {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.descripction {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.bttn {
  @apply btn bg-red-600 rounded-none sm:text-sm md:text-xl font-normal border-0;
}
.my_conatiner {
  @apply sm:max-w-xl md:max-w-full lg:max-w-screen-xl mx-auto;
}

.img_hover {
  @apply transition duration-300 transform ease-in-out hover:scale-105;
}
